# Ignore compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore binary files without extension (typical for Go)
*/go-crypto
go-crypto

# Ignore Go cache directories
*.test
*.out
/vendor/
/Godeps/
.idea/
.vscode/
*.sum
/go.work

# Ignore blockchain database
*.db
